body {
  background-color: #101010;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #fff;
  margin: 0;
  padding: 0;
}

h1, h2 {
  font-weight: normal;
}

h1 small, h2 small {
  font-size: 50%;
}

table {
  border-collapse: collapse;
}

th, td {
  text-align: left;
  vertical-align: top;
  padding: 4px;
}

thead th {
  border-bottom: 1px solid white;
}

progress {
  -webkit-appearance: none;
  appearance: none;
}

[text-right] {
  text-align: right;
}

[text-loading] {
  opacity: .5;
  font-style: italic;
}

a:link {
  color: cyan;
}

a:visited {
  color: lightblue;
}

a:hover, a:active {
  color: white;
}